SECRET_KEY='<secret-key-secret-key-secret-key-secret-key-secret-key>'
DATABASE_URL=postgres://<login>:<password>@127.0.0.1:5432/<DB name given to createdb>
EMAIL_FROM_ADDRESS='example@gmail.com'
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='example@gmail.com'
EMAIL_HOST_PASSWORD='password'
EMAIL_PORT=587
EMAIL_USE_TLS=True
YNDX_TRNS_API_KEY = "trnsl.1.1.20200428T777744Z.e8888888c2b4f6e6.b9999999bbe75fdbc1035a55555555555d742c2d"
YNDX_TRNS_URL = "https://translate.yandex.net/api/v1.5/tr.json/translate?key={}&lang=ru".format(YNDX_TRNS_API_KEY)
