SECRET_KEY=<secret-key-secret-key-secret-key-secret-key-secret-key>
DATABASE_URL=postgres://<login>:<password>@127.0.0.1:5432/<DB name given to createdb>
EMAIL_FROM_ADDRESS='example@gmail.com'
EMAIL_HOST='smtp.gmail.com'
EMAIL_HOST_USER='example@gmail.com'
EMAIL_HOST_PASSWORD='password'
EMAIL_PORT=587
EMAIL_USE_TLS=True