<div class="row">
    <div class="col-9">
        {% for question in questions %}
        <div class="row">
            <div class="col-8"><a href="">{{ question.seo_title }}</a><br>
                {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag.name %}" class="badge badge-secondary">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="col">
                {{ question.author.get_full_name }}<br>
                <small class="text-muted">asked {{ question.date_create|timesince }} ago</small>
            </div>
        </div>
        <div><hr></div>
        {% endfor %}
    </div>
</div>