{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeiDou articles</title>

    <link rel="stylesheet" href="{% static 'ursamajor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ursamajor/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'ursamajor/css/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ursamajor/css/font-awesome.min.css' %}" />
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="row container-fluid">
                <div class="col-4">
                    <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
                        <img src="{% static 'ursamajor/images/hasker_logo.png' %} ">
                    </a>
                </div>
                <div class="col-5">
                    <form class="form-inline my-2 my-lg-0" action="">
                        <input class="form-control mr-sm- col-md-8" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ q }}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-3">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                {% if request.user.avatar_view %}
                                    <img src="{{ request.user.avatar_view }}" width="50px"/><br>
                                {% endif %}
                            </li>
                            <li class="nav-item ml-2">
                                <a class="nav-link active" href=""><ins>{{request.user.get_full_name}}</ins></a>
                            </li>
                            <li class="nav-item mt-1">
                                <a class="nav-link" href=""><i class="fa fa-sign-out"></i></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="text-muted mt-2">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>

{% include "ursamajor/include/modal_ask_form.html" %}


<script src="{% static 'ursamajor/js/jquery-3.4.1.min.js'%}"></script>
<script src="{% static 'ursamajor/js/select2.min.js'%}"></script>
<script src="{% static 'ursamajor/js/bootstrap.min.js'%}"></script>
<script src="{% static 'ursamajor/js/ask-form.js' %}"></script>
<script src="{% static 'ursamajor/js/hasker.js' %}"></script>

</body>
</html>
